{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FocusFlow</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand ms-2" href="/">
        <img src="{% static 'images/favicon.png' %}" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="" loading="lazy">
        FocusFlow
      </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">My projects</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Create project</a></li>
              </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Forum</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item {% if user.is_authenticated %}dropdown {% else %} {% endif %}">
                {% if user.is_authenticated %}
                    <button class="btn btn-dark dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{% static 'images/profile_placeholder.jpg' %}" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="profile" loading="lazy">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                {% else %}
                        <a href="{% url 'login' %}">
                            <button class="btn btn-dark" type="button">
                                <img src="{% static 'images/profile_placeholder.jpg' %}" width="30" height="30" class="d-inline-block align-top rounded-circle" alt="profile" loading="lazy">
                            </button>
                        </a>
                {% endif %}
            </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
