{% extends 'base/base.html' %}
{% load socialaccount %}

<head>
    <title>{% block title %}Login - Focus Flow{% endblock %}</title>
</head>
<body>
{% block content %}
<!-- Login -->
    <div class="row justify-content-center mx-auto">
        <div class="col-md-6">
            <div class="card mt-3 shadow">
              <div class="card-header text-center">
                  Login
              </div>
              <div class="card-body text-left">
                <form method="POST" autocomplete="off">
                  {% csrf_token %}
                  <div class="form-group my-3">
                    <label for="InputEmail">Email</label>
                    {{loginform.email}}
                    {% if loginform.errors.email %}
                        <label class="text-danger">{{ loginform.errors.email }}</label>
                    {% endif %}
                  </div>
                  <div class="form-group my-3">
                    <label for="InputPassword">Password</label>
                    {{loginform.password}}
                    {% if loginform.errors.password %}
                        <label class="text-danger">{{ loginform.errors.password }}</label>
                    {% endif %}
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                  <div class="form-check">
                      <label class="form-check-label" for="RememberCheck">
                          Remember me
                      </label>
                      {{loginform.remember_me}}
                  </div>
                  <a href="#PassResetModal" data-bs-toggle="modal" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Forgot password?</a>
                  </div>
                  <div class="d-grid col-6 mx-auto text-center mt-2">
                      <button type="submit" name='login_submit' class="btn btn-dark">Submit</button>
                  </div>
                </form>
                <div class="card-footer text-body-secondary text-center mt-3">
                      Don't have an account?
                      <a href="{% url 'register' %}" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Create New Account</a>
                  <div class="d-flex align-items-center my-2">
                    <div class="flex-grow-1 border-top border-secondary"></div>
                    <span class="mx-2 fw-semibold text-muted">Or continue with</span>
                    <div class="flex-grow-1 border-top border-secondary"></div>
                  </div>
                  <div class="d-grid col-6 mx-auto text-center">
                    <a href="{% provider_login_url 'google'%}?next=/" class="btn btn-lg btn-dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z"></path>
                        </svg>
                        <span class="ms-2 fs-6">Continue with Google</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="PassResetModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
  <div class="card">
      <div class="modal-header pt-7">
          <div class="d-flex justify-content-between w-100">
              <div>
                  <h1 class="modal-title fs-5 mb-2" id="exampleModalLabel">Forgot password?</h1>
                  <h6 class="card-subtitle text-body-secondary">We’ll send you a link to reset your password.</h6>
              </div>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
      </div>
      <form method="POST" autocomplete="off">
          {% csrf_token %}
      <div class="modal-body pb-0 pt-0">
        <div class="card-body text-left pt-0">
            <div class="form-group my-2">
              <label for="InputEmail" class="mb-2">Enter email:</label>
              {{reset_form.email}}
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="d-grid col-4 mx-auto text-center">
            <button type="submit" name="reset_submit" class="btn btn-dark">Submit</button>
        </div>
      </div>
      </form>
  </div>
</div>
</div>
</div>
{% endblock %}
</body>
