{% extends 'base/base.html' %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
      <div class="card-header text-center">
          <h4 class="card-title mt-2 text-dark">
            Password Reset Request
          </h4>
      </div>
        <div class="card-body text-center p-4">
          <p class="card-text">
            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
          </p>
          <p class="card-text">
            If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
          </p>
          <a href="{% url 'home' %}" class="btn btn-dark mt-3">
            Return to Home
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
