{% extends 'base/base.html' %}
{% load tz %}
{% load static %}

<head>
    <title>{% block title %}Projects - Focus Flow{% endblock %}</title>
    <link href="{% static 'styles/style.css' %}" rel="stylesheet">
</head>
<body>
{% block content %}

    <div class="container-fluid mt-4">
        <div class="row mx-2">
        {% if not projects %}
        <div class="d-flex justify-content-center align-items-center" style="min-height: 75vh;">
            <div class="text-center">
                <h5 class="text-muted">
                    No projects available at the moment.
                    {% if request.user.username == username %}
                        Start creating one!
                    </h5>
                    <a href="{% url 'create_project' %}" class="btn btn-dark mt-2">Create a New Project</a>
                    {% endif %}
            </div>
        </div>
        {% else %}
            {% for project in projects %}
                <div class="col-12 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="card-title project-title">{{ project.title }}</h5>
                                <small class="text-muted">
                                    •{% timezone "Europe/Kiev" %}{{ project.pub_date|timesince }} ago{% endtimezone %}
                                </small>
                            </div>
                            <p class="card-text project-description">
                                {{ project.description }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>

{% endblock %}
</body>
